*~
*o
*mod
*pyc
*log
*.ener*
*_out.gen
_minted*
mef90version.h
.vscode

Tests/TestConstraints

Tests/TestSection

Tests/TestVec

Tests/TestLabels

Tests/viewDAG

Tests/TestVecSetBCFromOptions

Tests/TestHeatXferCtx

Tests/TestDMPlexVecGetClosure

Tests/HookeLaws
