*~
*.o
*.mod
*.pyc
*.log
*.ener*
*_out.gen
_minted*
mef90version.h
.vscode
.fortlsrc
.venv
**/.snakemake

Tests/TestConstraints
Tests/TestSection
Tests/TestVec
Tests/TestLabels
Tests/viewDAG
Tests/TestVecSetBCFromOptions
Tests/TestHeatXferCtx
Tests/TestDMPlexVecGetClosure
Tests/HookeLaws
Tests/TestMaterials
Tests/TestMEF90Ctx
Tests/TestMassMatrix
Tests/TestConstraintIO
Tests/TestDofOrdering
Tests/TestDotProduct
Tests/TestSNLP
Tests/TestATClass
Tests/TestConstraintIO3
Tests/TestHookesLaw_Type
Tests/TestVecSetBCFromOptionsExpr
Tests/TestMatMult
Utils/viewDAG
Utils/viewSets
doc/**/*exo
doc/**/*msh
arch-*
main-*
**/.DS_Store
compile_commands.json

# FORD-generated documentation
doc/html/
.venv-ford/
